
body{
    background-color: rgb(70, 70, 102) ;    
    font-family: tahoma;
    overflow: hidden;
}
.navbar{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%; 
    background-color: rgb(24, 23, 23);
    margin: 190px auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    color: #fff;
    transition: 0.24s 0.2s;
}
.navbar .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:-75px;
    left:-75px;
    border: 150px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}
.navbar:hover .menu{
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(1);
    z-index: 1;
}
.navbar .menu li{
    position: absolute;
    top: -100px;
    left: -100px;
    transform-origin: 100px 100px;
    transition: all 0.5s 0.1s;
}
.navbar:hover .menu li{
    transition: all 0.7s;
}
.navbar .menu li a{
    width: 60px;
    height: 45px;
    line-height: 45px;
    border-radius: 40%;
    background: rgb(41, 9, 9);
    position: absolute;
    font-size: 35%;
    color: #fff;
    transition: 0.7s;
}
.navbar:hover .menu li:nth-child(1){
    transition-delay: 0.02s;
    transform: rotate(85deg);
}
.navbar:hover .menu li:nth-child(1) a{
    transition-delay: 0.04s; 
    transform: rotate(635deg);
}

.navbar:hover .menu li:nth-child(2){
    transition-delay: 0.04s;
    transform: rotate(125deg);
}
.navbar:hover .menu li:nth-child(2) a{
    transition-delay: 0.08s;
    transform: rotate(595deg);
}

.navbar:hover .menu li:nth-child(3){
    transition-delay: 0.06s;
    transform: rotate(165deg);
}
.navbar:hover .menu li:nth-child(3) a{
    transition-delay: 0.12s;
    transform: rotate(555deg);
}

.navbar:hover .menu li:nth-child(4){
    transition-delay: 0.08s;
    transform: rotate(205deg);
}
.navbar:hover .menu li:nth-child(4) a{
    transition-delay: 0.16s;
    transform: rotate(515deg);
}

.navbar:hover .menu li:nth-child(5){
    transition-delay: 0.12s;
    transform: rotate(245deg);
}
.navbar:hover .menu li:nth-child(5) a{
    transition-delay: 0.2s;
    transform: rotate(475deg);
}

.navbar:hover .menu li:nth-child(6){
    transition-delay: 0.12s;
    transform: rotate(285deg);
}
.navbar:hover .menu li:nth-child(6) a{
    transition-delay: 0.24s;
    transform: rotate(435deg);
}

.navbar:hover .menu li:nth-child(7){
    transition-delay: 0.14s;
    transform: rotate(325deg);
}
.navbar:hover .menu li:nth-child(7) a{
    transition-delay: 0.28s;
    transform: rotate(395deg);
}

.navbar:hover .menu li:nth-child(8){
    transition-delay: 0.16s;
    transform: rotate(365deg);
}
.navbar:hover .menu li:nth-child(8) a{
    transition-delay: 0.32s;
    transform: rotate(355deg);
}


a,a:hover{
    text-decoration: none;
}